<main id="user">

<form class="form-horizontal" ng-submit="vm.funciones.vote()">
  <fieldset>
    <legend>{{vm.candidates.data.voteName}}</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label">Candidatos</label>
      <div class="col-lg-10">

      	<div ng-repeat="candidate in vm.candidates.data.candidates">
	
        <div class="radio">
          <label>
            <input name="optionsRadios" id="{{candidate.candidate}}" value="{{candidate.candidate.address}}" checked="" type="radio" ng-model="vm.myVote.candidateAddress">
            {{candidate.candidate.name}}
          </label>
        </div>
		</div>

    </div>

    <div class="form-group">
      <label for="address" class="col-lg-2 control-label">Dirección</label>
      <div class="col-lg-10">
        <input class="form-control" id="address" type="text" ng-model="vm.myVote.account.address">
      </div>
    </div>

    <div class="form-group">
      <label for="publickey" class="col-lg-2 control-label">Clave Pública</label>
      <div class="col-lg-10">
        <input class="form-control" id="publickey" type="text" ng-model="vm.myVote.account.pubKey">
      </div>
    </div>
    <div class="form-group">
      <label for="privatekey" class="col-lg-2 control-label">Clave Privada</label>
      <div class="col-lg-10">
        <input class="form-control" id="privatekey" type="text" ng-model="vm.myVote.account.privKey">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Votar</button>
      </div>
    </div>
  </fieldset>
</form>

</main>